@charset "ISO-8859-1";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
  background-color: #8CB59C;
  padding: 20px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks{
  float: left;
  margin: 5px;
  padding: 10px 20px 10px;
  color: #111;
  transition: 0.2s;
  border-radius: 8px;
  text-decoration: none;
}

.navLinks:hover{
  background: #7a9e87;
}

.navLinks:active{
  background: #678672;
}

.searchbar input{
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.topRight{
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.dropcontent a {
  color: #000000;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropcontent a:hover {
  background-color: #e0dfdf;
  border-radius: 10px;
}

.dropdown:hover .dropcontent {
  display: block;
}


.container{
  padding:50px;
}

.label{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
}

.add-btn{
  padding: 10px 20px 10px;
  border-radius: 5px;
}

.add-btn:hover{
  background: #7a9e87;
}

.add-btn:active{
  background: #678672;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.product-table tr{
	background-color: white;
}

.product-table td, th{
	text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.order-table tr:nth-child(even) {
  background-color: #dddddd;
}