@charset "ISO-8859-1";


.btn{
  background-color: green; 
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


/* Search Bar*/

.searchbar{
  display: flex;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 33%;
  margin-right: 35%;
  border: #111 solid 1px;

  align-items: center;
  justify-content: center;
}

.searchbar input{
  padding: 15px;
  width: 400px;
  border: none;
  outline: none;
}



/* product page */

.col-3{
  box-shadow: 0 8px 24px rgba(0,0,0,.1);
  border-radius: 8px;
  border:2px solid rgba(0,0,0,.1);
  position: relative;
  margin-top: 10px;  
  margin-bottom: 10px;  
  margin-left: 20px; 
  margin-right: 20px; 
  width: 380px;
}

.col-3{
  text-align: center;
  width: auto;
}

.col-3 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.col-3 h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  color:#334;
}

.col-3 p{
  font-size: 17px;
  color:#777;
  line-height: 2;
  padding:7px;
}

.col-3 span{
  font-size: 14px;
  color:#777;
  margin-bottom: 15px;
}

.description{
  display: flex; 
  align-items: center; 
  justify-content: space-between;       
  margin-top: 15px; 
  padding-top: 15px; 
  border-top:1px solid rgb(0, 0, 0); 
  margin-left: 0.5cm;       
  margin-right: 0.5cm;
}
/* product page css end */




/* box*/
.products .heading{ 
  margin-top: 40px;
  margin-left: 115px;
  font-size: 35px
}

.products .box-container{
  display: flex;
  gap: 30px;
  padding: 20px 90px;
}

.products .box-container .box{
  flex:1 1 480px;
  box-shadow: 5px 5px rgba(8, 8, 8, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,1);
  position: relative;  
}

.products .box-container .box .image img{
  height: 320px;
}

.products .box-container .box:hover{
  transform: scale(1.02);
  transition: 0.6s ease;
  
}

.products .box-container .box .content{
  padding: 30px;
  text-align: center;
  background: #8cb59c;
  border-radius: 8px;
}

.products .box-container .box .content h3{
  font-size: 40px;
}

.products .box-container .box .content .price{
  font-size: 32px;
  color: #D10000;
  font-weight: bolder;
  padding-top: 15px;
}

.products .box-container .box .content .price span{
  font-size: 24px;
  color: #111;
  font-weight: lighter;
  text-decoration: line-through;
}
/*product*/



.footer{
  margin-top: 50px;
  width: 100%;
  padding: 50px 100px;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div{
  text-align: center;
}

.column2{
  flex-grow: 2;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.newsletter input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.newsletter button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}